<div class="container-fluid">
    
    <div class="row mt-3">
      <h3>Top Headlines</h3>
      <div class="col-lg-3" *ngFor="let d of topHeadingDisplay">
        <div class="box">
          <a href="{{ d.url }}" target="_blank"
            ><img src="{{ d.urlToImage }}" width="100%"
          /></a>
          <h5>{{ d.title }}</h5>
          <a href="{{ d.url }}" class="btn btn-dark btn-sm" target="_blank"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
  